<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Oops!</title>
</head>
<body>
    <ul>
        <li>Timestamp: <span th:text="${timestamp}"/></li>
        <li>Status: <span th:text="${status}"/></li>
        <li>Error: <span th:text="${error}"/></li>
        <li>Exception: <span th:text="${exception}"/></li>
        <li>Message: <span th:text="${message}"/></li>
        <li>Errors: <span th:text="${errors}"/></li>
        <li>Trace: <span th:text="${trace}"/></li>
        <li>Path: <span th:text="${path}"/></li>
    </ul>
</body>
</html>